*{
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.banner {
    position: relative;
    background-image: url('./banner.jpg');
    background-size: cover;
    height: 600px;
  }
  
  .banner-text {
    background-color: rgb(5 10 78 / 63%);
    width: 100%;
    height: 600px;
    position: absolute;
    text-align: center;
    color: #060606;
  }
  
  h1 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .btn {
    margin-top: 20px;
    font-weight: 600;
    display: inline-block;
    background-color: #ff630e;
    color: #fefefe;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
  }
  .content{
    padding-top: 90px;
    font-weight: 600;
    color: #ff630e;
  }
  .content-1{
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #fefefe;
  }
  .content-2{
    padding-top: 20px;
    font-weight: 600;
    color: #fefefe;
    font-size: 14px;
    padding-left: 20%;
    padding-right: 20%;
  }
  .banner-1 {
    position: relative;
    background-image: url('./background.jpg');
    background-size: cover;
    height: 600px;
  }
  .banner-text-1 {
    background-color: rgb(131 131 136 / 74%);
    width: 100%;
    height: 600px;
    position: absolute;
    text-align: center;
    color: #060606;
  }
  .content-banner-1{
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
    color: #000000;
  }
  .content-banner-2{
    text-align: justify;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
    margin-right: 31px;
    line-height: 1.6;
    -webkit-line-clamp: 5;
  }
  
  .banner-1{
    background-attachment: fixed;
    display: flex;
  }
  .anh{
    margin-top: 2px;
    width: 89%;
    margin-left: 13%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #292828;
  }
  .main{
    padding-left: 10%;
    padding-right: 10%;
    
  }

  .default {
    background-color: rgb(0 0 0 / 0%); 
    border-color: #4b4949c4;
    color: #00000069;
  }
.mainn{ 
  width: 100%;
  display: flex;
}
.content-main{
  text-align: center;
  
  width: 50%;
}
.content-mainn{
  text-align: center;
  height: 600px;
}
.anh-main{
  width: 50%;
  height: 300px;
}
  .main-mid-text{
    margin-bottom: 15px;
    font-weight: 600;
    color: #ff630e;
  }

  .content-main-mid{
    width: 100%;
    display: flex;
  }
  .content-main-mid-1{
    display: flex;
  }
  .main-mid-main{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }
  .main-mid{
    padding: 10px 10px 10px;
    width: 33.33333%;
    text-align: justify;
  }
  .main-mid-text-1{
    font-size: 18px;
  }

  .main-mid-text{
    font-size: 21px;
  }
  
.left{
  width: 50%;
  text-align: center;
}

.right{
  width: 50%;
  text-align: center;
}
.banner-3{
  align-items: center;
  
}
.banner-img-3{
  position: relative;
  align-items: center;
  width: 100%;
  height: 600px;
  background-size: cover;
}
.banner-left{
  width: 100%;
  height: 100%;
  border-radius: 2%;
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
  filter: brightness(45%);
  transition: filter 0.3s ease-in-out;
}
.banner-right{
  width: 100%;
  height: 100%;
  border-radius: 2%;
  clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
  filter: brightness(45%);
  transition: filter 0.3s ease-in-out;
}

.banner-left:hover {
  filter: brightness(100%);
}

.banner-right:hover {
  filter: brightness(100%);
}
.title-33{
  font-size: 15px;
  margin-block: unset;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  height: 225px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: justify;
  padding: 0 10px;
}

.title-banner-5{
  color: white;
  font-size: 35px;    
  font-weight: bold;
}

.title-banner-6{
  color: white;
  font-size: 20px;    
  font-weight: bold;
}
.centered-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* width: 75%; */
  margin-left: -25%;
}

.centered-2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* width: 75%; */
  margin-left: 25%;
}
.left{
  width: 50%;
  text-align: center;
}

.right{
  width: 50%;
  text-align: center;
}
.full-1{
  width: 100%;
  max-width: 100%;
  display: flex;
}
/*  */
.body-science{
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  width: 18%;
  align-items: center;
  display: flex;
}
.body-science-hide{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  width: 18%;
  align-items: center;
  display: flex;
}
.body-science-hide-hide{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  width: 18%;
  align-items: center;
  display: flex;
}
.body-science-hide-hide{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  width: 18%;
  align-items: center;
  display: flex;
}
.body-science-hide-hide-hide{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  width: 18%;
  align-items: center;
  display: flex;
}
.science-item{
  box-shadow: 0px 0px 1px 0px;
  border-radius: 5px;
  width: 100%;
}
.gia{
  box-shadow: 0.5px 0.5px 5px 0.5px #9a9595;
  background-color: white;
  border-radius: 0 5px 5px 5px;
  height: 32px;
  padding: 8px;
  width: 120px;
  z-index: 1;
  position: absolute;
  color: #FF630E;
  font-weight: 700;
}
.banner-0{
  height: 130px;
  width: 100%;
  border-radius: 5px;
}
.avatar{
  margin-left: 12px;
  margin-top: -29px;
  width: 20%;
  height: 20%;
  border-style: groove;
}

.icon{
  margin-left: 61%;
  width: 12%;
  height: 12%;
  margin-bottom: -3%;
}
.title{
  margin-top: -13px;
}
.title-1{
  font-size: 25px;
  margin-block: 23px 6px;
  margin-left: 10px;
}
.title-2{
  margin-block: 10px 10px;
  font-weight: 550;
  font-size: 14px;
  margin-left: 10px;
  color: #908f8f;
  
}
.title-3{
  font-size: 15px;
  margin-block: unset;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  font-weight: 100;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* text-align: justify; */
  padding: 0 10px;
}

hr {
  margin-left: 13px;
  margin-top: 15px;
  width: 90%;
  color: #9a9595;
  size: 5px;
}
.item-origin{
  margin-left: 10px;
}
.origin-1{
  width: 5%;
  height: 5%
}
div.stars {
  width: 270px;
  display: flex;
  
}
 
input.star { display: none; }

label.star {
float: right;
padding: 15px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star:checked ~ label.star:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star-5:checked ~ label.star:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
content: '\f006';
font-family: FontAwesome;
}

.option1 {
  margin: 3px 9px;
  list-style: none;
}

div.stars1 {
  width: 270px;
  display: flex;

}
 
input.star1 { display: none; }

label.star1 {
float: right;
padding: 15px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star1:checked ~ label.star1:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star1-5:checked ~ label.star1:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star1-1:checked ~ label.star1:before { color: #F62; }

label.star1:hover { transform: rotate(-15deg) scale(1.3); }

label.star1:before {
content: '\f006';
font-family: FontAwesome;
}


div.stars2 {
  width: 270px;
  display: flex;

}
 
input.star2 { display: none; }

label.star2 {
float: right;
padding: 15px;
font-size: 15px;
color: #444;
transition: all .2s;
}

input.star2:checked ~ label.star2:before {
content: '\f005';
color: #FD4;
transition: all .25s;
}

input.star2-5:checked ~ label.star2:before {
color: #FE7;
text-shadow: 0 0 20px #952;
}

input.star2-1:checked ~ label.star2:before { color: #F62; }

label.star2:hover { transform: rotate(-15deg) scale(1.3); }

label.star2:before {
content: '\f006';
font-family: FontAwesome;
}
.body-hihi{
  width: 100%;
  /* background-color: #908f8f; */
  display: flex;
  margin-left: 14%;
}
.hihi{
  
  font-weight: 600;
  text-align: center;
  font-size: 40px;
}
.carousel-control-next-icon {
  background-image: url(./icons8-next-50.png);
}

.carousel-control-prev-icon{
  background-image: url(./icons8-back-50.png);
}

.carousel-indicators [data-bs-target] {
  background-color: #2d2d2d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.huhu{
  margin-top: 33%;
}
.huhuhu{
  margin-top: 33%;
}
.huhuhi{
  margin-top: 33%;
}
.huhuhuhu{
  margin-top: 43%;
}
.button-search{
  font-weight: 600;
  width: 90%;
  margin: 10px 10px 35px;
  height: 30px;
  border: none;
  border-radius: 5px 5px;
  color: white;  
  /* padding: 10px 32px;  */
  text-decoration: none; 
  text-align: center;    
  font-size: 14px;  
  background: #FF630E;
}

.carousel-inner{
  padding-bottom: 5px;
}

.search {
  height: 55px;
  margin-left: 3%;
}

.search {
  height: 55px;
  margin-left: 3%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: block;
}
/* story */
.banner-00{
  height: 240px;
  width: 100%;
  border-radius: 5px;
}
/* tieu bieu */
.title-11{
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-block: 23px 6px;
  margin-left: 10px;
}
.title-22{
  text-align: center;
  margin-block: 10px 120px;
  font-weight: 550;
  font-size: 14px;
  margin-left: 10px;
  color: #908f8f;
  
}
/*  */
.banner-11 {
  background-attachment: fixed;
  margin-top: 50px;
  position: relative;
  background-image: url('./bannerdep.jpg');
  background-size: cover;
  height: 400px;
}
.content-banner-11{
  font-size: 20px;
    text-align: center;
    padding-top: 80px;
    font-weight: 600;
    color: #000000;
}
.content-banner-22{
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 600;
  color: #1d1d1d;
  margin-right: 31px;
  line-height: 1.6;
}
.banner-text-11 {
  width: 100%;
  height: 600px;
  position: absolute;
  text-align: center;
  color: #060606;
}
.default-1 {
  background-color: rgb(0 0 0 / 0%); 
  border-color: #4b4949c4;
  color: #00000069;
}
/* hoptac */
.banner-000{
  
  height: 90px;
  width: 100%;
  border-radius: 5px;
}
.inner-1 {
  height: 170px;
  padding-bottom: 5px;
}
.hihihi{
  margin-top: 40px;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}
.body-sciencee{
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  width: 18%;
  align-items: center;
  display: flex;
}
.hidede{
  display: none;
  
}
.btn-1 {
  background-color: #ff630e;
  color: #fefefe;
  margin-top: 20px;
  font-weight: 600;
  display: block;
  padding: 7px 8px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  margin-left: 39%;
  width: 21%;
}
.mainn {
  height: 350px;
}
.button-main {
  margin-top: -8%;
  margin-left: -47%;
}