@media screen and (min-width:1168px){
    .body-full{
        display: flex;
    }

    .body-left{
        width: 30%;
        height: 800px;
    }

    .body-right{
        width: 70%;
        height: 800px;
    }
} 

@media screen and (max-width:1090px){
    .body-full{
        display: flex; 
    }
    .avatar {
        margin-left: 12px;
        margin-top: -29px;
        width: 23%;
        height: 20%;
        border-style: groove;
    }
    .icon {
        margin-left: 83%;
        width: 14%;
        height: 14%;
        margin-bottom: -8%;
    }
    .body-left{
        width: 30%;
        height: 800px;
    }

    .body-right{
        width: 70%;
        height: 800px;
    }


}

@media screen and (max-width:860px){
    .body-full{
        display: flex;
    }
    .avatar {
        margin-left: 12px;
        margin-top: -29px;
        width: 25%;
        height: 20%;
        border-style: groove;
    }
    .icon {
        margin-left: 80%;
        width: 16%;
        height: 16%;
        margin-bottom: -10%;
    }
    .body-left{
        width: 30%;
        height: 800px;
    }

    .body-right{
        width: 70%;
        height: 800px;
    }

    .form .icon-muiten .fa-arrow-down{
        visibility: hidden;
    }
}

@media screen and (max-width:767px){
    .body-left{
        width: 100%;
        height: auto;
        padding-left: 65px;
        padding-right: 55px;
    }

    .body-right{
        width: 100%;
        height: auto;

    }

    .avatar {
        margin-left: 12px;
        margin-top: -86px;
        width: 25%;
        height: 20%;
        border-style: groove;
    }

    .search {
        margin-top: 3%;
    }

    .arrange{
        display: block;
        align-items: center;
    }

    .body-science {
        padding-left: 5%;
        padding-right: 6%;
        padding-top: 15px;
        width: 95%;
        align-items: center;
        
    }

    .arrang-select {
        width: 33%;
        height: 34px;
        border: 0.5px solid #555;
        padding: 0 12px;
        border-radius: 3px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 65%;
        margin-top: 2%;
    }

    #heard1 {
        
        height: 22px;
        overflow: hidden;
    }

    #heard2 {
        
        height: 22px;
        overflow: hidden;
    }

    #heard3 {
        
        height: 22px;
        overflow: hidden;
    }

    #heard4 {
        
        height: 22px;
        overflow: hidden;
    }

    #heard :hover{
        background-color: red;
        height: 22px;
        
    }

    #heard .form-checkbox{
        margin-top: 1%;
    }


    #heard1 .active .icon-muiten i{
        display: block;
        transform: rotate(-180deg);
    }
    .banner {
        height: 10%;
        width: 100%;
        border-radius: 10px;
    }

    .origin-1{
        width: 3%;
        height: 3%;
    }

    .item-origin-1 span{
        font-size: 15%;
    }

    .form .icon-muiten .fa-arrow-down{
        border: none;
        visibility: visible;
    }
}

@media screen and  (max-width:400px){
    .body-full{
        display: block;
    }
    .button-search {
        width: 95%;
        margin: 10px;
        height: 40px;
        border: none;
        border-radius: 10px 10px;
        color: white;
        padding: 10px 32px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        background: rgb(240, 83, 16);
    }
    .list {
        margin-left: -40px;
    }
    .banner {
        height: 10%;
        width: 100%;
        border-radius: 10px;
    }

    .avatar {
        margin-left: 12px;
        margin-top: -80px;
        width: 20%;
        height: 20%;
        border-style: groove;
    }

    .body-left{
        width: 100%;
        height: auto;
        padding-left: 65px;
        padding-right: 55px;
    }

    .body-right{
        width: 100%;
        height: auto;

    }

    .origin-1{
        width: 3%;
        height: 3%;
    }

    .item-origin-1 span{
        font-size: 15%;
    }

    .body-science {
        padding-left: 5%;
        padding-right: 6%;
        padding-top: 15px;
        width: 100%;
        align-items: center;
        display: flex;
        margin-top: 10px;
    }
    .arrange-label {
        font-size: 13px;
        color: #555;
        margin-right: 16px;
    }

    .body-science {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 15px;
        width: 100%;
        align-items: center;
        display: flex;
    }

    .arrang-select {
        width: 33%;
        height: 34px;
        border: 0.5px solid #555;
        padding: 0 12px;
        border-radius: 3px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 65%;
        margin-top: 2%;
    }
    
}


@media screen and  (max-width:300px){
    .body-full{
        display: block;
    }
    .banner {
        height: 10%;
        width: 100%;
        border-radius: 10px;
    }

    .avatar {
        margin-left: 12px;
        margin-top: -80px;
        width: 20%;
        height: 20%;
        border-style: groove;
    }

    .body-left{
        width: 100%;
        height: auto;
        padding-left: 65px;
        padding-right: 55px;
    }

    .body-right{
        width: 100%;
        height: auto;

    }

    .origin-1{
        width: 3%;
        height: 5%;
    }

    .item-origin-1 span{
        font-size: 15%;
    }

    .body-science {
        padding-left: 5%;
        padding-right: 0%;
        padding-top: 15px;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .arrange-label {
        font-size: 13px;
        color: #555;
        margin-right: 16px;
    }

    .arrang-select {
        width: 33%;
        height: 34px;
        border: 0.5px solid #555;
        padding: 0 12px;
        border-radius: 3px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 65%;
        margin-top: 2%;
    }

    /* .form .icon-muiten .fa-arrow-down{
        border: none;
        visibility: visible;
    } */
    
}

